.block {
  border: 2px black solid;
  padding: 10px;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 20px auto;
  gap: 20px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
