.title {
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  min-width: 40px;
  min-height: 30px;
}

.items {
  position: absolute;
  padding: 5px;
  border: 1px solid black;
}

.selected {
  background-color: blue;
  color: white;
}
